body {
    text-align: center;
}

html {
 scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
}

.nav-brand,.nav-brand:focus,.nav-brand:hover,.nav-menu>li>a{color:#70798b}
.menu__list,.nav-dropdown,.nav-menu,ul{list-style:none}.menu__link,.navigation,.navigation *{-webkit-tap-highlight-color:transparent}.navigation,.navigation *{box-sizing:border-box}

.navigation{width:100%;height:70px;display:table;position:relative;font-family:inherit;background-color:#fff}.nav-toggle,.navigation-hidden .nav-header{display:none}.navigation-portrait{height:48px}.navigation-fixed{position:fixed;top:0;left:0}.navigation-hidden{width:0!important;height:0!important;margin:0!important;padding:0!important}.align-to-right{float:right}.nav-header{float:left}.nav-brand{line-height:70px;padding:0 15px;font-size:24px;text-decoration:none!important}.deatils ul li a,.indicate a,.logo h1 a,.nav-button,.nav-dropdown>li>a,.nav-menu>li>a,nav a{text-decoration:none}.navigation-portrait .nav-brand{font-size:18px;line-height:48px}.nav-logo>img{height:48px;margin:11px auto;padding:0 15px;float:left}.nav-logo:focus>img{outline:initial}.deatils ul li a,.indicate a,.menu__link:focus,.menu__link:hover,nav a,nav a:focus,nav a:hover{outline:0}.navigation-portrait .nav-logo>img{height:36px;margin:6px auto 6px 15px;padding:0}.nav-toggle{width:30px;height:30px;padding:6px 2px 0;position:absolute;top:50%;margin-top:-14px;right:15px;cursor:pointer}.nav-toggle:before{content:"";position:absolute;width:24px;height:2px;background-color:#70798b;border-radius:10px;box-shadow:0 .5em 0 0 #70798b,0 1em 0 0 #70798b}.navigation-portrait .nav-toggle{display:block}.navigation-portrait
.nav-menus-wrapper{width:320px;height:100%;top:0;left:-400px;position:fixed;background-color:#fff;z-index:20000;overflow-y:auto;-webkit-overflow-scrolling:touch;transition-duration:.8s;transition-timing-function:ease}.navigation-portrait .nav-menus-wrapper
.nav-menus-wrapper-right{left:auto;right:-400px}
.nav-menus-wrapper.nav-menus-wrapper-open{left:0}
.nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open{right:0}
.nav-menus-wrapper-close-button{width:30px;height:40px;margin:10px 7px;display:none;float:right;color:#70798b;font-size:26px;cursor:pointer}
.navigation-portrait .nav-menus-wrapper-close-button{display:block}
.nav-menu{margin:0;padding:0;line-height:normal}
.navigation-portrait .nav-menu{width:100%}
.navigation-landscape .nav-menu.nav-menu-centered{float:none;text-align:center}
.nav-menu>li{display:inline-block;float:left;text-align:left}
.navigation-portrait .nav-menu>li{width:100%;position:relative;border-top:solid 1px #f0f0f0}
.navigation-portrait .nav-menu>li:last-child{border-bottom:solid 1px #f0f0f0}
.nav-menu+.nav-menu>li:first-child{border-top:none}
.navigation-landscape .nav-menu.nav-menu-centered>li{float:none}
.nav-menu>li>a{height:70px;padding:26px 15px;display:inline-block;font-size:14px;transition:color .3s,background .3s}
.navigation-portrait .nav-menu>li>a{height:auto;width:100%;padding:12px 15px 12px 26px}
.nav-menu>.active>a,.nav-menu>.focus>a,.nav-menu>li:hover>a{color:#A0D468}
.nav-menu>li>a>[class*=ion-],.nav-menu>li>a>i{width:18px;height:16px;line-height:16px;-ms-transform:scale(1.4);transform:scale(1.4)}.nav-menu>li>a>[class*=ion-]{width:16px;display:inline-block;transform:scale(1.8)}
.navigation-portrait .nav-menu.nav-menu-social{width:100%;text-align:center}
.nav-menu.nav-menu-social>li{text-align:center;float:none;border:none!important}
.navigation-portrait .nav-menu.nav-menu-social>li{width:auto}
.nav-menu.nav-menu-social>li>a>[class*=ion-]{font-size:12px}
.nav-menu.nav-menu-social>li>a>.fa{font-size:14px}
.navigation-portrait .nav-menu.nav-menu-social>li>a{padding:15px}
.submenu-indicator{margin-left:6px;margin-top:6px;float:right;transition:all .3s}
.navigation-portrait .submenu-indicator{width:54px;height:44px;margin-top:0;position:absolute;text-align:center;z-index:20000}
.submenu-indicator-chevron{height:6px;width:6px;display:block;border-style:solid;border-width:0 1px 1px 0;border-color:transparent #70798b #70798b transparent;-ms-transform:rotate(45deg);transform:rotate(45deg);transition:border .3s}
.navigation-portrait .submenu-indicator-chevron{position:absolute;top:18px;left:24px}
.nav-menu>.active>a .submenu-indicator-chevron,.nav-menu>.focus>a .submenu-indicator-chevron,.nav-menu>li:hover>a .submenu-indicator-chevron{border-color:transparent #A0D468 #A0D468 transparent}
.navigation-portrait .submenu-indicator.submenu-indicator-up{-ms-transform:rotate(-180deg);transform:rotate(-180deg)}.nav-overlay-panel{width:100%;height:100%;top:0;left:0;position:fixed;display:none;z-index:19999}
.no-scroll{width:100%;height:100%;overflow:hidden}
.nav-search{height:70px;float:right;z-index:19998}
.navigation-portrait .nav-search{height:48px;padding:0 10px;margin-right:52px}
.navigation-hidden .nav-search{display:none}
.nav-search-button{width:70px;height:70px;line-height:70px;text-align:center;cursor:pointer;background-color:#fbfcfd}
.nav-search-icon{width:14px;height:14px;margin:2px 8px 8px 4px;display:inline-block;vertical-align:middle;position:relative;color:#70798b;text-align:left;text-indent:-9999px;border:2px solid;border-radius:50%;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);transition:color .3s}.nav-search-icon:after,.nav-search-icon:before{content:'';pointer-events:none}
.nav-search-icon:before{width:2px;height:11px;top:11px;position:absolute;left:50%;border-radius:0 0 1px 1px;box-shadow:inset 0 0 0 32px;transform:translateX(-50%)}
.nav-search-button:hover .nav-search-icon{color:#A0D468}
.navigation-portrait .nav-search-button{width:50px;height:48px;line-height:46px;font-size:22px}
.nav-search>form{width:100%;height:100%;padding:0 auto;display:none;position:absolute;left:0;top:0;background-color:#fff;z-index:99}
.nav-search-inner{width:70%;height:70px;margin:auto;display:table}.navigation-portrait .nav-search-inner{height:48px}.nav-search-inner input[type=search],.nav-search-inner input[type=text]{height:70px;width:100%;margin:0;padding:0 12px;font-size:26px;text-align:center;color:#70798b;outline:0;line-height:70px;border:none;background-color:transparent;transition:all .3s}
.navigation-portrait .nav-search-inner input[type=search],.navigation-portrait .nav-search-inner input[type=text]{height:48px;font-size:18px;line-height:48px}
.nav-search-close-button{width:28px;height:28px;display:block;position:absolute;right:20px;top:20px;line-height:normal;color:#70798b;font-size:20px;cursor:pointer;text-align:center}
.nav-button,.nav-text{display:inline-block;font-size:14px}.navigation-portrait .nav-search-close-button{top:10px;right:14px}.nav-button{margin:18px 15px 0;padding:8px 14px;color:#fff;text-align:center;border-radius:4px;background-color:#A0D468;transition:opacity .3s}.nav-button:focus,.nav-button:hover{color:#fff;text-decoration:none;opacity:.85}.navigation-portrait .nav-button{width:calc(100% - 52px);margin:17px 26px}.nav-text{margin:25px 15px;color:#70798b}.navigation-portrait .nav-text{width:calc(100% - 52px);margin:12px 26px 0}.navigation-portrait .nav-text+ul{margin-top:15px}.nav-dropdown{min-width:180px;margin:0;padding:0;display:none;position:absolute;z-index:98;white-space:nowrap}.navigation-portrait .nav-dropdown{width:100%;position:static;left:0}.nav-dropdown .nav-dropdown{left:100%}.nav-menu>li>.nav-dropdown{border-top:solid 1px #f0f0f0}.nav-dropdown>li{width:100%;float:left;clear:both;position:relative;text-align:left}.nav-dropdown>li>a{width:100%;padding:16px 20px;display:inline-block;float:left;font-size:13px;color:#70798b;background-color:#fdfdfd;transition:color .3s,background .3s}.social-icon a i,.social-icons a i{width:32px;height:32px;display:inline-block;border-radius:16px}.nav-dropdown>.focus>a,.nav-dropdown>li:hover>a{color:#A0D468}.nav-dropdown.nav-dropdown-left{right:0}.nav-dropdown>li>.nav-dropdown-left{left:auto;right:100%}.navigation-landscape .nav-dropdown-left>li>a{text-align:right}.navigation-portrait .nav-dropdown>li>a{padding:12px 20px 12px 30px}.navigation-portrait .nav-dropdown>li>ul>li>a{padding-left:50px}.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a{padding-left:70px}.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a{padding-left:90px}.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a{padding-left:110px}h1,h2,h3,h4,h5,h6,p,ul{margin:0;padding:0}.nav-dropdown .submenu-indicator{right:15px;top:16px;position:absolute}.menu__list,.navbar,nav a{position:relative}.navigation-portrait .submenu-indicator{right:0;top:0}.nav-dropdown .submenu-indicator .submenu-indicator-chevron{-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron{-ms-transform:rotate(45deg);transform:rotate(45deg)}.nav-dropdown>.focus>a .submenu-indicator-chevron,.nav-dropdown>li:hover>a .submenu-indicator-chevron{border-color:transparent #A0D468 #A0D468 transparent}.navigation-landscape .nav-dropdown-left .submenu-indicator{left:10px}.navigation-landscape .nav-dropdown-left .submenu-indicator .submenu-indicator-chevron{-ms-transform:rotate(135deg);transform:rotate(135deg)}body{font-family:'Open Sans',sans-serif}.navbar-default .navbar-nav>li>a,h1,h2,h3,h4,h5,h6{font-family:'Josefin Sans',sans-serif}body a{transition:.5s all;-webkit-transition:.5s all;-o-transition:.5s all;-moz-transition:.5s all;-ms-transition:.5s all}h1,h2,h3,h4,h5,h6{font-weight:700}p{color:#777}nav a{display:inline-block}.header{background:#fff}.header-top{padding:1em 0;background:#05222A}.indicate{float:left}.deatils{float:right}.indicate a{font-size:1.1em;color:#C6C7C7;vertical-align:middle}.deatils ul li i,.indicate i{font-size:1.2em;color:#888f90;vertical-align:middle}.indicate i{margin-right:.5em}.deatils ul li{display:inline-block;margin:0 5px}.deatils ul li i{margin-right:.5em}.deatils ul li a{font-size:1.1em;color:#C6C7C7;vertical-align:middle}.social-icons{float:right;margin-top:.7em}.social-icons a i{background:url(../images/img-sprite.png) no-repeat #34495e;margin:0 .2em;transition:.5s all;-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all;-ms-transition:.5s all}.social-icons i.icon:hover{background:url(../images/img-sprite.png) no-repeat #02B875;transform:rotateY(360deg)}.social-icons i.icon{background-position:0 0}.social-icons i.icon1{background-position:-32px 0}.social-icons i.icon1:hover{background:url(../images/img-sprite.png) -32px 0 no-repeat #02B875;transform:rotateY(360deg)}.social-icons i.icon2{background-position:-64px 0}.social-icons i.icon2:hover{background:url(../images/img-sprite.png) -64px 0 no-repeat #02B875;transform:rotateY(360deg)}.social-icons i.icon3{background-position:-96px 0}.social-icons i.icon3:hover{background:url(../images/img-sprite.png) -96px 0 no-repeat #02B875;transform:rotateY(360deg)}.social-icon{margin-top:1.8em}.social-icon a i{background:url(../images/img-sprite.png) no-repeat #02B875;margin:0 .2em;transition:.5s all;-webkit-transition:.5s all;-moz-transition:.5s all;-o-transition:.5s all;-ms-transition:.5s all}.social-icon i.icon:hover{background:url(../images/img-sprite.png) no-repeat #34495e}.social-icon i.icon{background-position:0 0}.social-icon i.icon1{background-position:-32px 0}.social-icon i.icon1:hover{background:url(../images/img-sprite.png) -32px 0 no-repeat #34495e}.social-icon i.icon2{background-position:-64px 0}.social-icon i.icon2:hover{background:url(../images/img-sprite.png) -64px 0 no-repeat #34495e}.social-icon i.icon3{background-position:-96px 0}.social-icon i.icon3:hover{background:url(../images/img-sprite.png) -96px 0 no-repeat #34495e}.logo{text-align:center;padding-top:1em}.logo h1 a{color:#fff;font-size:1.3em}.logo span{display:block;font-size:.32em;letter-spacing:4px}.header-bottom{padding:1em 0}.navbar-nav{float:left;margin:0}.navbar-default{background:#fff;border:none!important}.navbar-default .navbar-nav>li>a{color:#05222A;font-size:1.3em;font-weight:900}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#02B875;background-color:#fff}.navbar{min-height:50px;margin-bottom:0;border:1px solid transparent}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#05222A;background-color:#fff}.menu__list{-webkit-flex-wrap:inherit;flex-wrap:inherit}.menu__item{display:block;margin:1em 0}.menu__link{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none}.menu--francisco .menu__item{margin:0 1.5em}.menu--francisco .menu__link{position:relative;overflow:hidden;height:3em;padding:1em 0;text-align:center;color:#b5b5b5;-webkit-transition:color .3s;transition:color .3s}.menu--francisco .menu__link:focus,.menu--francisco .menu__link:hover{color:#929292}.menu--francisco .menu__item--current .menu__link{color:#02B875}.menu--francisco .menu__link::before{content:'';position:absolute;top:0;left:0;width:100%;height:3px;opacity:0;background:#02B875;-webkit-transform:translate3d(0,-3em,0);transform:translate3d(0,-3em,0);-webkit-transition:-webkit-transform 0s .3s,opacity .2s;transition:transform 0s .3s,opacity .2s}.menu--francisco .menu__item--current .menu__link::before,.menu--francisco .menu__link:hover::before{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:-webkit-transform .5s,opacity .1s;transition:transform .5s,opacity .1s;-webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);transition-timing-function:cubic-bezier(.4,0,.2,1)}.menu--francisco .menu__helper{display:block;pointer-events:none}.menu--francisco .menu__item--current .menu__helper,.menu__link:hover .menu__helper{-webkit-animation:anim-francisco .3s forwards;animation:anim-francisco .3s forwards}@-webkit-keyframes anim-francisco{50%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}51%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes anim-francisco{50%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}51%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.nav-menus-wrapper.nav-menus-wrapper-open{background: color:pink; rgba(0, 0, 0, 0) url("") no-repeat scroll center center;box-shadow: 0 px px 0 rgba(0, 0, 0, 0), 0 px px 0 rgba(0, 0, 0, 0.); }



/*==================
 FOOTER
====================*/
#mu-footer {
  display: inline;
  float: left;
  width: 100%;
}
#mu-footer .mu-footer-top {
  background-color: #333;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget {
  display: inline;
  float: left;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget h4 {
  color: #fff;
  margin-bottom: 15px;
  text-transform: ;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a {
  color: #f9f9f9;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: ;

}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:before {
  content: ;
  font-family: ;
  left: 0;
  position: absolute;
  top: 5px;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:hover, #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:focus {
  margin-left: 5px;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget p {
  font-size:1.5rem;
  color: white;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form {
  display: inline;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  font-size: 15px;
  height: 35px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;

}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form .mu-subscribe-btn {
  color: #fff;
  border: medium none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 5px 10px;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget address p {
  font-weight: lighter;
  letter-spacing: 0.5px;
}
#mu-footer .mu-footer-bottom {
  background-color: #222;
  display: inline;
  float: left;
  padding: 25px 0;
  width: 100%;
}
#mu-footer .mu-footer-bottom .mu-footer-bottom-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
#mu-footer .mu-footer-bottom .mu-footer-bottom-area p {
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}
#mu-footer .mu-footer-bottom .mu-footer-bottom-area p a {
  color: white;
}



/*==================
 CONTACT PAGE
====================*/
#mu-contact {
  display: inline;
  float: left;
  padding: 100px 0;
  font-size:1.5rem;
  width: 100%;
}
#mu-contact .mu-contact-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left {
  display: inline;
  float: left;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform {
  display: inline;
  float: left;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .reply-title {
  font-size: 25px;
  margin-top: 0;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label {
  display: block;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label .required {
  color: #f60;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="text"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="email"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="url"] {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform textarea {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 5px;
  padding: 10px;
  height: 150px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .form-submit input {
  margin-top: 10px;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
  display: inline;
  float: left;
  width: 100%;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
  height: 500px;
}







.cc{
   width:100%;
   height:50rem;
   padding:1rem;
}











div.parent {
    display : table;
    padding : 5px;
    width   : 100%;

  /* you can change/remove margin */
    margin   :5px 0;
  }
/*div.text {
    vertical-align : middle;
    display        : table-cell;
    text-align     : justify;
}*/
/*div.parent .img {
    vertical-align   : middle;
    display          : table-cell;
    padding-right    : 5px;
    width            : 100px; *//* you can change width *//*
}*/
div.img img {
    width           : 100%;
    /* you can change height *//
    vertical-align   : middle;
}




.h-name{
text-align:center;
font-size:2.5rem;
padding-top:.5rem;
color:green;
}






.counter {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 5rem;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  color:green;
  text-align: center;
}

.count-text {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}

/*navbar css*/
.header{
padding-left:33rem;
text-align: center;

 }
.nav-menu{

font-weight:500;

}



.about-con{
margin:2rem;
font-size:2rem;
}



/*css for gallery*/

body {
 /*   background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;*/
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}




    .container.gallery-container {
        border-radius: 0;
    }
}


/*css for admission page*/

.addm-div{
padding:2rem;

}
.add-head{
font-size:2rem;
}
.add-para{
font-size:1.5rem;
}


/*css for fees page*/

.fees-div{
margin:5rem;
font-size:1.5rem;
}

.fees-cont{
font-size:2rem;
}

/*css for withdrawals page*/

.withdraw-div{
margin:5rem;
font-size:2rem;
}


/*css for osla page*/

.osla-cont{
margin:5rem;
font-size:1.8rem;
}

/*css for special page*/

.spec-div{
margin:5rem;
}
.spec-cont{
font-size:1.8rem;
}

/*css for contact page*/

.contact-cont{
text-align:center;
font-size:5rem;

}





.img-div{
padding-bottom:3rem;

}

.red{
width:100%;
height:40rem;
position:relative;


}

.pink{

background:#8CC0DE;
position:relative;
text-align:center;
padding-top:2rem;
height:28rem;

}
.green{

background:#FF5D5D;
position:relative;

text-align:center;
padding-top:2rem;
height:28rem;

}
.yellow{

background:#F77E21;
position:relative;

text-align:center;
padding-top:2rem;
height:28rem;


}

.blue{

background:#5FD069;
position:relative;
text-align:center;
padding-top:2rem;
height:28rem;

}


.fuc{
    display: ;
    justify-content: center;

}

.card-title{
 font-size: 3rem;
 padding-bottom:2rem;
 padding-top:2rem;
}
.card-text{
font-size: 1.7rem;
color:white;
margin:.5rem;
}



/*css for maps*/

.maps{
width:31rem;
height:25rem;
margin-left:2rem;
margin-top:5rem;

}




/*css for headlines*/



.marquee {
	color:red;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 2rem;
	font-size: 3rem;
}


.cellContainer {
  width: 25%;
  float: left;
}






/*css for about us page*/


.all-head{
font-size:4.5rem;

}


.frame {
         /* Equals maximum image height */

    width: 100%;
    text-align: center;
    margin: 1em 0;
}
.about-img {
    background: #3A6F9A;
    vertical-align: middle;

}








.connn{
text-align:center;
margin:2rem;
font-size:2rem;
}






/*media quary*/

@media(max-width:998px){
html{
font-size:55%;
width:auto;
}

}

@media(max-width:786px){
html{
font-size:45%;
width:auto;

}
}
@media(max-width: 768px) {
    body {
        padding: 0;
    }